<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Calculate</string>
	<key>CFBundleIdentifier</key>
	<string>com.brackeen.widget.calc</string>
	<key>CFBundleName</key>
	<string>Calculate</string>
	<key>CFBundleVersion</key>
	<string>1.2.2</string>
	<key>CloseBoxInsetX</key>
	<integer>12</integer>
	<key>CloseBoxInsetY</key>
	<integer>9</integer>
	<key>MainHTML</key>
	<string>Calc.html</string>
	<key>Height</key>
	<integer>160</integer>
	<key>Width</key>
	<integer>320</integer>
    <key>AllowFileAccessOutsideOfWidget</key>
    <false/>
    <key>AllowFullAccess</key>
    <false/>
    <key>AllowInternetPlugins</key>
    <false/>
    <key>AllowJava</key>
    <false/>
    <key>AllowNetworkAccess</key>
    <false/>
    <key>AllowSystem</key>
    <false/>
</dict>
</plist>
